@{
    ViewBag.Title = "Intro";
}

<ul data-role="listview" data-inset="true">
    <li>What is a Micro ORM?</li>
    <li>Why not EF?</li>
    <li>Dapper.</li>
    <li>Massive.</li>
    <li>Simple.Data</li>
    <li>Closing Thoughts.</li>
</ul>

@Html.ActionLink("Why Not EF?", "", new { viewName = "WhyNotEf" }, new { data_role = "button" })