@{
    ViewBag.Title = "What Is A Micro ORM?";
}

<h3>Potential benefits</h3>

<ul data-role="listview" data-inset="true">
    <li>Performance</li>
    <li>Simplicity</li>
    <li>Extensibility</li>
    <li>Dynamic</li>
</ul>

@Html.ActionLink("What Is A Micro ORM?", "", new { viewName = "WhatIsAMicroOrm" }, new { data_role = "button" })