@{
    ViewBag.Title = "Why Not EF?";
}

@section NextPageLink
{
    @Html.ActionLink("What Is A Micro ORM?", "", new { viewName = "WhatIsAMicroOrm" }, new { data_role = "button", data_icon="arrow-r", data_iconpos="right" })
}
<h2>As of 2012-09-08...</h2>

<ul data-role="listview" data-inset="true">
    <li>Entity Framework is complex - <a href="https://www.ohloh.net/p/entityframework/analyses/latest/languages_summary">420,589 lines of code (Ohloh)</a></li>
    <li>No Mono Support - <a href="http://www.mono-project.com/Compatibility">via Mono Project Compatibilty page</a></li>
    <li>Limitations</li>
    <li>Conventions</li>
</ul>

