@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Dogs. Data Access. Two Guys.</h1>
                <h2>What more could you want?</h2>
            </hgroup>
            <p>
                Welcome to MassiveKennel! This is a sample app written in C#, running on Asp.net MVC4 that 
                we built to demo how to use the Micro ORM Massive!
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>View the list of Dogs</h5>
        Check out the list of dogs currently in our Kennel!
        @Html.ActionLink("View Dogs", "index", new{ controller = "Dogs"})
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Add a new Dog to the Kennel!</h5>
        There are never enough dogs in our kennel, go ahead and add some more!
        @Html.ActionLink("Add a Dog", "create",new { controller = "Dogs" })
    </li>
</ol>
