@model IEnumerable<StackUnderToe.Post>
@{
    ViewBag.Title = "Stack Under Toe";
}

<h2>Top Questions</h2>
<p>Questions that have receieved the most comments and votes.</p>

<ul>
    @foreach (var question in Model)
    {
        <li>@Html.ActionLink( question.Title, "Details", new { controller ="Questions", id = question.Id } ) </li>
    }
</ul>
