@{
    ViewBag.Title = "Index";
}

<div class="hero-unit">
    <h1>Hello, Gamers!</h1>
    <p>This is an example website written in C#, running on Asp.net MVC 4.</p>
</div>

<h3>Most-viewed questions that need answers!</h3>
<h4>Help these people out!</h4>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Views</th>
        </tr>
    </thead>
    <tbody>
    @foreach( var post in Model )
    {
        <tr>
            <td>
                @post.Title
            </td>
            <td>
                @post.ViewCount
            </td>
        </tr>
    }
    </tbody>
</table>