@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Post Data</legend>
        @Html.Label("Title")
        @Html.Editor("Title")

        @Html.Label("Content")
        @Html.TextArea("Content")

        <br />
        <input type="submit" value="Create!" />
    </fieldset>
}