@{
    ViewBag.Title = "Details";
}

<h2>Dog Profile for "@Model.name"</h2>

<div>
    Number of legs: @Model.legs.ToString()
</div>
<div>
    Got a tail: @(Model.has_tail ? "Yep" : "Nope")
</div>

@Html.ActionLink( "Back to dog list", "index" )