@{
    ViewBag.Title = "All Dogs";
}

<h2>All the dogs!</h2>

<ul>
    @foreach(var dog in Model) {
        <li>@Html.ActionLink((string)dog.name, "details", new { id = (int)dog.id }) 
            - 
            @Html.ActionLink("Edit", "edit", new { id = (int)dog.id }) | 
            @Html.ActionLink("Delete", "delete", new { id = (int)dog.id })
        </li>
    }
</ul>

@Html.ActionLink( "Add a dog!", "create" )